@import url('https://fonts.googleapis.com/css2?family=Belanosima:wght@400;600;700&family=Lexend+Deca:wght@100..900&family=Libre+Barcode+39+Extended&family=Nunito+Sans:ital,opsz,wdth,wght,YTLC@0,6..12,75..125,200..1000,440..540;1,6..12,75..125,200..1000,440..540&family=Zalando+Sans+Expanded:ital,wght@0,200..900;1,200..900&display=swap');

h1 {
    font-family: "Belanosima", sans-serif;
    font-weight: 600;
    font-style: normal;

    font-size: 3rem;
    text-align: center;
}

h2 {
    font-family: "Zalando Sans Expanded", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
}

h3 {
    font-family: "Lexend Deca", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}

p {
    font-family: "Lexend Deca", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}

body {
    font-family: "Lexend Deca", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}

blockquote {
    font-family: "Lexend Deca", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;

    font-size: 1.25rem;
    text-align: center;
}

.text-over-image {
    position: relative;
    text-align: center;
    color: white;
}

.text-over-image .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3em;
}

.container {
    max-width: 800px;
}

img {
    border-radius: 10px;
}

/* asdfasdf */

.infobox1 {
    border: 1.5px solid #000;
    border-radius: 10px;
    padding: 0px;
    text-align: left;
}

.infobox1 div div {
    padding: 10px;
    padding-bottom: 0px;
}

.belanosima-regular {
    font-family: "Belanosima", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.belanosima-semibold {
    font-family: "Belanosima", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.belanosima-bold {
    font-family: "Belanosima", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.libre-barcode-39-extended-regular {
    font-family: "Libre Barcode 39 Extended", system-ui;
    font-weight: 400;
    font-style: normal;
}


.zalando-sans-expanded-800 {
    font-family: "Zalando Sans Expanded", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
}


.lexend-deca-200 {
    font-family: "Lexend Deca", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}

.lexend-deca-400 {
    font-family: "Lexend Deca", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.lexend-deca-600 {
    font-family: "Lexend Deca", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}


.nav-tabs.flex-column {
    border-right: 1.5px solid #212529 !important;
    border-bottom: none;
}

.nav-tabs.flex-column .nav-link {
    border: 1.5px solid transparent;
    border-radius: 0.375rem 0 0 0.375rem;

    font-family: "Lexend Deca", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;

    color: #212529;

    transition: 50ms ease-in-out;

    text-align: right;

    border-right: none;
}

.nav-tabs.flex-column .nav-link:hover,
.nav-tabs.flex-column {
    border-color: #212529 transparent #212529 #212529;
}

.nav-tabs.flex-column .nav-link.active {
    border-color: #212529 #212529 #212529 #212529;
    background-color: #212529;
    color: white;
    border-right: none;
}