@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Inter:wght@100..900&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

:root {
    
}

body {
    padding: 0;
    margin: 0;
    background-color: #282828;
    color: #EBDBB2;
}

h1 {
    font-family: "Red Hat Display", sans-serif;
    font-size: 450%;
}

h2 {
    font-family: "Red Hat Display", sans-serif;
    font-size: 225%;
    text-align: center;
}

h3 {
    font-family: "Fira Code", monospace;
    font-weight: 500;
    font-size: 150%;
}

p,ul {
    font-family: "Inter", sans-serif;
    font-size: 110%;
}

button {
    background-color: #EBDBB2;
    border: none;
    padding: 5px 10px;
    margin: 3px;
    border-radius: 4px;
    font-size: 100%;
    font-family: "Fira Code", monospace;
    font-weight: 500;
    transition-duration: 200ms;
}

button p {
    vertical-align: super;
}

button span {
    vertical-align: bottom;
}

button:hover {
    background-color: #D65D0E;
}

a {
    color: #458588;
    cursor: pointer;
    text-decoration: underline;
}

a:visited {
    color: #B16286;
}

.main,.em-main {
    max-width: 900px;
    width: 90%;
    margin: auto;
}

.em-main {
    animation-name: em-text;
    animation-duration: 600ms;
}

.container {
    border: 1px solid #3a3a3a;
    margin-left: -20px;
    padding-left: 20px;
    margin-right: -20px;
    padding-right: 20px;
    margin-top: 10px;
    padding-bottom: 20px;

    border-radius: 6px;

    transition-duration: 0.125s;

    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.2s ease-out 0.2s, transform 0.2s ease-out 0.2s, border  ease-out 0.125s;
}

.container.visible {
    opacity: 1;
    transform: translateY(0);
}

.container.visible:hover {
    border: 1px solid #928374;
}

.em {
    padding-top: 10vh;
    padding-bottom: 20vh;
    width: 100%;

	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

    background-image: url("./Valley1_makaip.JPG");
}

.header {
    overflow: hidden;
    background: #1D2021;
    text-align: center;
    display: block;
    padding-top: 15px;
    padding-bottom: 15px;
    z-index: 10;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%
}
  
.sticky + .main {
    padding-top: 50px;
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 10px;
}

.image-item {
    border: 1px solid #3a3a3a;
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 100%;
    border-radius: 4px;
    transition-duration: 250ms;
}

.image-item:hover {
    border: 1px solid #EBDBB2;
}

.image-item img, video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
}

.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    overflow: auto; 
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    justify-content: center;
}

.modal-content {
    position: relative;
    width: 90%;
    max-width: 800px;
    text-align: center;
    margin: auto;
}

#modal-video {
    transform: translate(0px, -20vh);
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

.modal-media {
    width: 100%;
    height: auto;
    display: none;
    animation-name: imageModal;
    animation-duration: 500ms;
    border-radius: 4px;
}

@keyframes imageModal {
    from {
        transform:translateY(10px);
        opacity: 0.5;
        filter: blur(8px);
    }
    to {
        transform:translateY(0px);
        opacity: 1;
        filter: blur(0px);
    }
}

@keyframes em-text {
    from {
        transform:translateY(30px);
        filter: blur(4px);
    }
    to {
        transform:translateY(0px);
        filter: blur(0px);
    }
}

@keyframes container {
    from {
        transform:scale(0.99);
        opacity: 0.25;
    }
    to {
    }
}