h1 {
    font-family: 'Playfair Display', serif;
    font-size: 48px;
}
h2 {
    font-family: 'Playfair Display', serif;
    font-size: 32px;
}
p {
    font-family: 'Golos Text', sans-serif;
}
button {
    transition-duration: 0.2s;
    border-radius: 100px;
    padding: 1px 10px;
    background-color: black;
    color: white;
    font-family: 'Golos Text', sans-serif;
}
button:hover {
    background-color: white;
    color: black;
}
.spe {
    color: #91ccf6;
}
.reg {
    padding: 10px 10%;
    border: solid;
    border-radius: 16px;
    max-width: 500px;
    margin: auto;
}
.sec {
    padding: 10px 10%;
    border: none;
    max-width: 500px;
    margin: auto;
}
.par {
    color: white;
    padding: 10px 10%;
    border: none;
    border-radius: 16px;
    max-width: 500px;
    margin: auto;
    background-image: url("wallpapernew.jpg");
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.logonav {
    
}